nav a {
    text-decoration: none;
    color: black;
}
nav li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 20px;

}
span{
    color: orange;
}
#englobe{
    display: flex;
    justify-content: space-around;
    
}
.container{
    display: inline-block;
    position: relative;
}
.container .text{
    text-align: center;
    position: absolute;
}
#englobe {

    height: 5px;
}
#organiser{
    height: 5px;
}
#voyager{
    height: 5px;
}